{% extends 'PrimeraPagina/base.html' %}

{% block title %}
    Registrar Profesor - Colegio Coder
{% endblock title %}

{% block content_title %}
    <h1 class="text-center my-4">Formulario para Registrar un Profesor</h1>
{% endblock content_title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        {{ form.as_p }}  <!-- Renderiza automáticamente los campos del formulario -->
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                            <a href="{% url 'PrimeraPagina:index' %}" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}